<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>

</head>
<body>
<div class="container-fluid" layout:fragment="content">
    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Portfolio 등록</h1>
    <div class="col-md-6">
        <div class="main-card mb-3 card">
            <div class="card-body"><h5 class="card-title"></h5>
                <form th:action="@{/portfolio/new}" th:object="${portfolio}" id="portfolioForm" method="post">
<!--                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->

                    <div class="position-relative form-group">
                        <label for="title" class="">제목</label>
                        <input name="title" id="title" placeholder="이름" type="text" class="form-control" autocomplete="false">

                    </div>
                    <div class="position-relative form-group">
                        <label for="uploadFile" class="">파일등록</label>
                        <input name="uploadFile" id="uploadFile" type="file" class="form-control">

                    </div>

                    <button class="mt-1 btn btn-primary" type="submit">
                       	 추가
                    </button>
                    <button type="button" onclick="location.href='./portfolio'" class="mt-1 btn btn-secondary">목록</button>
                </form>
            </div>
        </div>
    </div>
    <script>
    	$('#portfolioForm').validate({
    		rules: {
    			title: "required",
   			}
   		});    	
    	
    </script>
</div>
</body>
</html>
